<section
  id="{{ include.section.section_id }}"
  class="block reviews-block bg-{{ include.section.bg }} small-outer"
>
<div class="block-header inner-medium">
    <h3 class="trust-title">{{ include.section.title }}</h3>
  </div>

  {% assign images_is_not_empty = include.section.images | is_not_empty %} {% if
  images_is_not_empty %}
  <div class="inner">
    <div class="grid">
      <div id="image-slider" class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            {% for image in include.section.images %}
            <li class="splide__slide">
				<img class="slider-image" src="{{ image.src }}"></img>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!-- .grid -->
  </div>
  <!-- .inner -->
  {% endif %}
</section>
<!-- .block -->

<script>
  window.addEventListener("load", (event) => {
    new Splide("#image-slider", {
      type: "loop",
      speed: 750,
      cover: true,
      lazyLoad: true,
      drag: true,
      easing: "ease",
      heightRatio: 0.5,
      pagination: false,
    }).mount();
  });
</script>
