<section
  id="{{ include.section.section_id }}"
  class="block inner pricing-block-{{ include.section.density | default: "dense" }} bg-{{ include.section.bg }} outer"
>

<div class="block-header inner-medium">
    <h2 class="block-title-image">{{ include.section.title }}</h2>
    {% assign subtitle_is_not_empty = include.section.subtitle | is_not_empty %}
    {% if subtitle_is_not_empty %}
    <p class="block-subtitle">{{ include.section.subtitle }}</p>
    {% endif %}
  </div>

  <div class="pricing-grid">
	{% for plan in include.section.pricingplans %}
	<a class="noborder" target="_blank" href="{{ plan.link }}">
		<div
		class="cell plan-{{ include.section.density | default: "dense" }} plan{% assign highlight_is_not_empty = plan.highlight | is_not_empty %}{% if highlight_is_not_empty %} highlight{% endif %}"
		>
		<div class="plan-inside">
			
			
				<img
				class="plan-image"
				src="{{ plan.image | relative_url }}"
				alt="{{ plan.title }}"
				/>
			

			<h5 class="plan-title">{{ plan.description }}</h5>
			<h4 class="plan-title">{{ plan.company }}</h4>
			<h6 class="plan-title">{{ plan.hashtags }}</h6>

		</div>
		<!-- .plan-inside -->
		</div>
		<!-- .cell -->
	</a>

    {% endfor %}
  </div>
  <!-- .grid -->
</section>
<!-- .block -->
